body {
	background-color: #CCCCFF;
	font-family: "times new roman", times, serif;
}

h1, h2, h3, h4, h5 h6 {
	font-family: "ms trebuchet", arial, verdana, helvetica, sans-serif;
	margin-bottom: 0px;
}

h1#title {
	margin-top: 0px;
}

p {
	margin: 0px;
}

p.ideas {
	font-family: verdana, sans-serif;
	font-size: .7em;
	color: #666666;
}

