/* default elements ----------------- */
html {
	background-color: #EEE9CF;
}

body {
	background-color: #EEE9CF;
}

h1 { 
	font-family: garamond,georgia,"times new roman",times,serif;
	margin: 0px;
	font-weight: normal;
	letter-spacing: -.05em;
	font-size: 2.5em;
	padding: 0px;
 }

h2 {
	font-family: garamond,georgia,"times new roman",serif;
	font-weight: normal;
}

h3 {
	font-size: 1em;
	font-family: verdana,arial,sans-serif;
	font-weight: bold;
	padding: 3px;
	background-color: #AAA98F;
	margin-top: 0px;
	margin-bottom: 5px;
}

h4 {
	font-size: 1em;
	font-family: verdana,arial,sans-serif;
	font-weight: normal;
	display:inline;
	letter-spacing: -.07em;
	margin: 0px;
}

p {
	margin-top: 0px;
}

a img {
	border: 0;
}

a:link {
	color: #900;
}
a:hover {

}
a:visited {
	color: #66695F;
}

address {
	position: absolute;
	right: 10px;
	top: 5px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: .6em;
	text-align: right;
	font-style: normal;
}

ul {
	margin-bottom: 32px;
}

ul li {
	margin: 12px;
}

pre {
	padding: 32px;
	background-color: #DFD;
	font-size: .9em;
	margin-left: 32px;
	margin-right: 32px;
}

/* reusable global elements ------------- */

.description {
	padding: 0px;
	font-family: verdana;
	font-size: .8em;
	letter-spacing: -.07em;
	padding: 0px;
	margin:0px;
	font-weight: normal;
}

#footer {font-style: italic; margin-top: 50px;}

#codesample p {
	font-family: "helvetica neue",helvetica,sans-serif;
	letter-spacing: -.01em;
	word-spacing: .02em;
	line-height: 1.5em;
	width: 580px;
	padding-left: 32px;
}


/*============= Resume styles ==========*/
body#resume {
	width: 760px;
	margin-left: 32px;
	font-family: georgia,"times new roman",serif;
}

#resume #header {
	text-align: center;
	margin-bottom: 50px;
}

#resume #header h1 {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: .2em;
	
}

#resume #header address {
	position: static;
	text-align: center;
	font-family: georgia,"times new roman",serif;
	font-size: 1em;
}

#resume h2 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #999;
	margin-top:32px;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: .1em;
	padding-top: 4px;
	padding-bottom: 3px;
}

#resume h3 {
	background: none;
	font-family: georgia,"times new roman",serif;
	margin:0px;
	padding:0px;
	font-weight: bold;
}

#resume h4 {
	font-family: georgia,"times new roman",serif;
	font-size: 1em;
	font-style: italic;
	letter-spacing: normal;
	margin: 0px;
}
#resume p.loc {
	float:right;
	margin:0px;
	color: #999;

}
#resume ul#skillz {
	padding:0px;
}
#resume ul#skillz li {
	margin:0px;
	margin-bottom: .7em;
}

/*========= Bio styles ==========*/
body#bio {
	width: 680px;
	font-family: georgia,"times new roman",serif;;
	line-height: 1.4em;
	margin-left: 32px;
}