.masthead
  %h1
    Human -
    %br
    Oriented
    %br
    Systems

  .pullquote
    %p
      %i Human-Oriented Systems
      is a software development studio.
    %p
      Located in Denver, CO USA, we strive to improve the craft of programming and
      employ the best people, tools and practices to deliver world-class software ecosystems.

%br

.topic.research.first
  %h2 Research

.topic.design
  %h2 Design

.topic.prototype
  %h2 Prototype

.topic.test
  %h2 Test

.topic.develop
  %h2 Develop

.topic.scale.last
  %h2 Scale

.topic.contact.first
  %h2 Contact
  %p
    8 East First Avenue
    %br
    Suite 109
    %br
    Denver, CO 80203
    %br
    (303) 997 2463
    %br
    = link 'info@humanoriented.com', 'mailto:info@humanoriented.com'
