%h1
  Human -
  %br
  Oriented
  %br
  Systems

.pullquote
  %i Human-Oriented Systems
  is a software development studio.
  %br
  Located in Denver, CO USA, we love building software and are dedicated to creating simple, humane systems for the public and our clients.

.topic.contact.first
  %h2 Contact
  %p
    8 East First Avenue
    %br
    Suite 109
    %br
    Denver, CO 80203
    %br
    (303) 653 3017
    %br
    = link 'info@humanoriented.com', 'asdasd'
  
.topic.research
  %h2 Research

.topic.prototype
  %h2 Prototype

.widetopic.develop
  %h2 Test, Develop, Deploy

.topic.last
  %h2 Scale

.footer
  %p &copy Human-Oriented Systems. All rights reserved.

