!!!
// http://hixie.ch/advocacy/xhtml
%html{:lang => 'en-US'}
  %head
    %meta{'http-equiv' => 'content_type', :content => 'text/html;charset=utf-8'}
    %title Human-Oriented Systems, a Colorado Software Development Studio
    %meta{:name => 'keywords', :content => 'denver software developer, denver programmer, programmer, software development, denver iphone developer, denver rails developer, ruby on rails, iphone, user interface, human-computer interaction, software design, ui design, standards compliance, site redesign, application development, application design, living software, human-oriented design, human-oriented software, user-centered design, user-centered software, artificial intelligence, machine learning, Yong Bakos'}
    %meta{:name => 'description', :content => 'Human-Oriented Systems is a software development studio specializing in project recovery, Web / network applications and iPhone application development.'}
    %meta{:name => 'author', :content => 'Yong Bakos on behalf of Human-Oriented Systems'}
    %meta{'http-equiv' => 'Content-Style-Type', :content => 'text/css'}
    = stylesheets :application
    = small_devices_stylesheet
    %link{:media => 'only screen and (max-device-width: 480px)', :href => 'small-device.css' :type=> "text/css", :rel=>"stylesheet"}
    %link{:rel => 'shortcut icon', :href =>'/images/favicon.ico' :type => 'image/x-icon'}
  %body
    .container
      = yield
  = partial('google_analytics')