!!!
%html
  %head
    %title Human-Oriented Systems, a Colorado Software Development Studio
    %meta{:name => 'keywords', :content => 'programmer, software development, user interface, human-computer interaction, software design, ui design, standards compliant, site redesign, application development, application design, living software, human-oriented design, human-oriented software, user-centered design, user-centered software, artificial intelligence, machine learning, Yong Bakos'}
    %meta{:name => 'description', :content => 'Opinionated postmodern software design with concern for the greater effects of technology upon humanity. No machines!'}
    %meta{:name => 'author', :content => 'Yong Bakos'}
    %meta{'http-equiv' => 'content_type', :content => 'text/html;charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', :content => 'text/css'}
    = stylesheets
    %link{:rel => 'shortcut icon', :href =>'/img/favicon.ico' :type => 'image/x-icon'}
  %body
    .container
      = yield